<template>
  <div>
    <TopNav @showLogin="showLoginHandler"/>
    <br/>
    <header>
      <LargeBanner msg="The world's top challenges, meet the world's top talent"/>
    </header>
    <div v-if="showLoginFlag == true">
      <UserLogin @cancel="showLoginHandler"/>
    </div>
    <Blurb/>
    <Footer/>    
  </div>
</template>

<script>

import LargeBanner from '../components/LargeBanner.vue'
import Blurb from '../components/Blurb.vue'
import Footer from '../components/Footer.vue'
import TopNav from '../components/TopNav.vue'
import UserLogin from '../components/UserLogin.vue'

export default {
  name: 'Home',
  components: {
    TopNav,
    LargeBanner,
    Blurb,
    UserLogin,
    Footer
  },
  data: ()=>({
    showLoginFlag: false,
  }),
  methods: {
    showLoginHandler() {
      //this method fires when TopNav fires its showLLogin event
      //which then toggles the showLoginFlag used to determine if the
      //login pop-up gets rendered
      //it is also fired when the UserLogin fires its close event handler
      //alert("click");
      this.showLoginFlag = this.showLoginFlag ? false : true
      // if(this.showLoginHandler == false) {

      // }
    }
  }

}
</script>

<style scoped>

</style>

