<template>
  <nav>
    <div class="more-nav">
      <ul class="nav-left">
        <li><a href="#"><img class="link fb" src="../assets/fb_icon.svg"/></a></li>
        <li><a href="#"><img class="link insta" src="../assets/instagram_icon.svg"/></a></li>
        <li><a href="#"><img class="link li" src="../assets/linkedin_icon.svg"/></a></li>
        <li><a href="#"><img class="link twit" src="../assets/twitter_icon.svg"/></a></li>
      </ul>
      <ul class="nav-right">
        <li><a href="#" @click="showLoginForm">login</a></li>
      </ul>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'TopNav',
  methods: {
    showLoginForm() {
      //clicking login emits the showLogin event
      this.$emit('showLogin')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@keyframes slideInFromTop {
    0% {
      transform: translateY(-50%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

nav {
  top: 0;
  max-width: 100%;
  margin: auto;
  background-color: #a4c4ee;
  color: #0c4271;
  text-align: center;
}
a {
  color: #0c4271;
}
a:hover {
  color: #ffffdf;  
}

ul {
    display: inline;
}

.link {
    vertical-align: middle;
    height: 80%;
    width: 80%;
    margin: 0rem 1rem;
    filter: brightness(1.5);
}

.link:hover {
    filter: brightness(2.5);
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

.more-nav {
  min-height: 3.5rem;
}

.fb {
  animation: .5s ease-out 0s 1 slideInFromTop;
}
.insta{
  animation: .7s ease-out 0s 1 slideInFromTop;
}
.li{
  animation: .9s ease-out 0s 1 slideInFromTop;
}
.twit{
  animation: 1.1s ease-out 0s 1 slideInFromTop;
}
</style>
