<template>
  <div class="site-container">
    <router-view></router-view>
  </div>
</template>

<script>

// *** took this out because now the router handles loading App
//     however, although this works, it's not how the Vue UI would
//     do it.  So, leaving this here, just in case I want it someday.
//     Don't you want me, baby? Don't you want me ohhh-oh-oh-oh
//import Home from './views/Home.vue'
// export default {
//   name: 'App',
//   components: {
//     Home
//   }
// }
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
}
</style>
